body {
    font-family: Georgia, serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    letter-spacing: 3px;

}

.title p {
    color: #0047BA;
    letter-spacing: 3px;
}

.title {
    border-bottom: 1px solid #ccc;
}

.main-content {
    text-align: left;
    padding-top: 40px;
    line-height: 1.8;
}

.main-content li {
    margin-bottom: 15px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.618);
    padding: 40px;
    padding-top: 60px;
}

.image-container {
    width: 200px;
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

select {
    position: fixed;
    top: 0px;
    left: 0px;
}

body.dark  {
    background-color: rgb(77, 77, 77);
    color: white;

}