body {
    font-family: 'lato', sans-serif;
    background: #fdf8f2;
    color: black;
}

.grid {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    background: #fff;
    padding: 0 9px;
}

header {
    grid-area: header;
    text-align: center;
    padding: 20px 16px 8px;
    border-bottom: 2px solid orange;
    font-family: serif, Arial, sans-serif;
}

header h1 {
    font-size: 1.8rem;
    color: #111;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 8px 16px;
    border-top: 2px solid orange;
    border-bottom: 3.9px solid orange;
  
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    color: #c0392b;
    padding: 4px 8px;
}

main {
    grid-area: main;
    padding: 16px;
    padding-top: 20px;
    border-top: 3.9px solid orange;
    margin-top: 45px;
}

.review-card {
    display: grid;
    grid-template-areas: "meta" "title" "cover" "body";
    grid-template-columns: 1fr;
    gap: 12px;
}

.review-content {
    width: 300px;
    padding-left: 0;
}

.review-meta {
    grid-area: meta;
    font-size: 0.85rem;
    color: black;
    line-height: 1.8;
    text-align: right;
    font-weight: bold;
    padding-right: 16px;
    font-style: italic;
}

.review-title {
    grid-area: title;
    color: #c0392b;
    font-size: 1.2rem;
    font-family: serif, Arial, sans-serif;

}

.review-cover {
    grid-area: cover;
    text-align: center;
}

.review-cover img {
    width: 140px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.review-body {
    grid-area: body;
    font-size: 0.95rem;
    line-height: 1.6;
    color: black;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 14px;
    border-top: 3.9px solid orange;
    font-size: 0.85rem;
    color: black;
}

@media (min-width: 1200px) {
    .review-card {
        grid-template-areas:
        "meta title"
        "meta cover"
        "meta body";
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }
    
    .review-card {
        display: grid;
        grid-template-columns: 600px 1fr;
        gap: 2px;
    
    }

    .review-meta {
        border-right: 3px solid orange;
        padding-right: 40px;
    }

    main {
        margin-top: 0;
         border-top: 1px solid orange;
    }
    
    .review-cover {
        grid-area: cover;
        text-align: center;
        
    }

    .review-cover img {
        width: 200px;
        height: auto;
    }

    .review-content {
        width: 500px;
        padding-left: 24px;
    }

}